<link rel="stylesheet" href="style.css">
<div class="max-w-5xl mx-auto mt-4 lg:p-12 p-4 grid grid-cols-1 lg:grid-cols-12 gap-x-12 gap-y-4 relative z-20">
  <div class="lg:col-span-12 text-center">
    <div class="flex justify-center mb-6">
    </div>
    <h1 class="mb-4 text-2xl font-semibold text-gray-800 text-center mt-3"><span class="sr-only">Kickoff Tailwind</span><svg class="lg:h-12 h-auto lg:w-auto w-full inline" fill="none" height="68" viewBox="0 0 611 68" width="611" xmlns="http://www.w3.org/2000/svg"><g class="fill-current">
    </span></h1>
    <style>
    .content{
      font-size: 50px;
      margin-top:-50px;
    }
    </style>

</div>

     